<template>
	<OvalTextBox :icon="'search.svg'" :error="error" :disabled="disabled" :searchOnClick="searchOnClick" @input="inputHandler" />
</template>

<script>
import OvalTextBox from '../OvalTextBox/OvalTextBox';
export default {
	components: {
		OvalTextBox,
	},
	props: {
		searchOnClick: {
			type: Boolean,
			default: false
		},
		error: {
			type: Boolean,
			default: false
		},
		disabled: {
			type: Boolean,
			default: false
		}
	},
	methods: {
		inputHandler(event) {
			this.$emit('input', event);
		},
	},
};
</script>
