<template>
  <div>
    <div class="container dashboard--container--width">
      <div class="row mt-5 mb-1">
        <div class="col">
          <h4 class="dashboard--title">My Dashboard</h4>
        </div>
      </div>

      <div class="row f-flex mt-3 mb-3 justify-content-md-end">
        <div class="col-xl-6 col-md-12 mb-3 align-text-bottom">
          <tabs />
        </div>
        <div class="col-xl-3 col-md-12 mb-3">
          <Select2 placeholder="Select collection" />
        </div>
        <div class="col-xl-3 col-md-12 mb-3">
          <SearchBox @input="searchInputHandler" />
        </div>
      </div>

      <div class="row mb-2">
        <div class="col">
          <upload-field />
        </div>
      </div>

      <div class="row remove-padding">
        <div class="col-xl-12 col-md-12" id="muuri-grid--col">
          <div class="muuri-grid--wrapper" :style="{width: this.gridWidth + 'px'}">
            <raven-grid :ravenData="ravenData">
              <template
                v-for="({
                                    id,
                                    title,
                                    numberOfImages,
                                    backgroundImage,
                                  }, index) in ravenData"
              >
                <raven-card
                  :key="index"
                  :id="id"
                  :title="title"
                  :numberOfImages="numberOfImages"
                  :backgroundImage="backgroundImage"
                />
              </template>
            </raven-grid>
          </div>
        </div>
        <LazyLoadRavens />
      </div>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../../EventBus";
import SearchBox from "../SearchBox/SearchBox.vue";
import LazyLoadRavens from "../LazyLoadRavens/LazyLoadRavens.vue";
import RavenGrid from "../RavenGrid/RavenGrid.vue";
import RavenCard from "../RavenGrid/RavenCard.vue";
import Tabs from "../DashboardTabs/Tabs";
import Select2 from "../Select2/Select2";
import ravenData from "../../placeholders/RavenData.js";
// import Collections from "../../placeholders/Collections";
import UploadField from "../UploadField/UploadField.vue";

export default {
  data() {
    return {
      searchInput: "",
      ravenData: [],
      selectItems: [
        {
          id: 0,
          text: "item 1"
        },
        {
          id: 1,
          text: "item 2"
        },
        {
          id: 2,
          text: "item 3"
        }
      ],
      gridWidth: null
    };
  },
  components: {
    SearchBox,
    LazyLoadRavens,
    RavenGrid,
    RavenCard,
    Tabs,
    Select2,
    UploadField
  },
  methods: {
    searchInputHandler(value) {
      this.searchInput = value;
    },
    searchRavens(query) {
      EventBus.$emit("searchQuery", query);
    },
    setGridWidth(element) {
      switch (true) {
        case element.offsetWidth >= 1200: {
          this.gridWidth = 1200;
          break;
        }
        case element.offsetWidth >= 960 && element.offsetWidth < 1230: {
          this.gridWidth = 960;
          break;
        }
        case element.offsetWidth >= 720 && element.offsetWidth < 960: {
          this.gridWidth = 720;
          break;
        }
        case element.offsetWidth < 720: {
          this.gridWidth = 480;
          break;
        }
      }
    }
  },
  watch: {
    searchInput: {
      handler: function(val) {
        this.searchRavens(val);
      }
    }
  },
  created() {
    this.ravenData = [...ravenData];

    EventBus.$on("lazyLoadData", value => {
      this.ravenData = [...this.ravenData, ...value];
      setTimeout(() => {
        EventBus.$emit("lazyLoadAddCards");
      }, 0);
    });

    EventBus.$on("tabChange", tab => {
      switch (tab) {
        case 1:
          break;
        case 2:
          break;
        case 3:
          break;
        case 4:
          break;

        default:
          break;
      }
    });
  },
  mounted() {
    const RavenGridCol = document.getElementById("muuri-grid--col");
    this.gridWidth = RavenGridCol.offsetWidth;

    this.setGridWidth(RavenGridCol);

    window.addEventListener("resize", () => {
      this.setGridWidth(RavenGridCol);
    });
  }
};
</script>

<style lang="scss">
.dashboard--title {
  color: $purple-dark;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
}

.muuri-grid--col {
  padding: 0 0;
}

@media screen and (min-width: 1200px) {
  .dashboard--container--width {
    min-width: 1230px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 960px) and (max-width: 1230px) {
  .dashboard--container--width {
    min-width: 990px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 720px) and (max-width: 960px) {
  .dashboard--container--width {
    min-width: 750px;
    margin: 0 auto;
  }
}

.muuri-grid--wrapper {
  margin: auto;
}

.remove-padding {
  padding: 0 0 !important;
}
</style>
