<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="@/assets/user.png" alt />
      </div>
      <div class="col">
        <img src="@/assets/bandwidth.png" alt />
      </div>
    </div>
  </div>
</template>
