<template>
  <div
    class="oval-text-box"
    :class="{'oval-text-box--error': error, 'oval-text-box--disabled': disabled}"
    :style="{ width: width }"
  >
    <img
      v-if="icon"
      class="oval-text-box--icon"
      :src="$helpers.resolveSvgPath(icon)"
      @click="handleSearchClick"
      alt="Search"
    />
    <input
      type="text"
      class="oval-text-box--input"
      v-model.trim="input"
      :placeholder="placeholder"
      :disabled="disabled"
      :style="{ width: width, height: height }"
    />
  </div>
</template>

<script>
export default {
  data() {
    return {
      input: ""
    };
  },
  props: {
    placeholder: {
      type: String,
      default: "Search a raven"
    },
    width: {
      type: String,
      default: "100%"
    },
    height: {
      type: String,
      default: "36px"
    },
    icon: {
      type: String
    },
    error: {
      type: Boolean
    },
    disabled: {
      type: Boolean
    },
    searchOnClick: {
      type: Boolean
    }
  },
  methods: {
    handleSearchClick() {
      this.$emit("input", this.input);
    }
  },
  watch: {
    input: {
      handler: function(val, oldVal) {
        if (val !== oldVal && !this.searchOnClick) {
          this.$emit("input", this.input);
        }
      }
    }
  }
};
</script>

<style lang="scss">
.oval-text-box {
  border: 1px solid $grey;
  border-radius: 20px;
  font-size: 1rem;
  width: fit-content;
  display: flex;
  padding: 0 15px;
  box-sizing: border-box;
  transition: border 0.2s ease;
  font-size: 14px;
  line-height: 17px;

  &:focus-within {
    border: 1px solid $purple-focused;
    .oval-text-box--input {
      &::placeholder {
        color: $purple-focused;
      }
    }
  }

  .oval-text-box--icon {
    margin: 0 10px 0 0;
    color: $light-blue;
    cursor: pointer;
  }

  .oval-text-box--input {
    border: none;
    -webkit-appearance: none;
    outline: none;
    color: $light-blue;
    transition: color 0.2s ease;

    &::placeholder {
      color: $light-blue;
    }
  }
}
.oval-text-box--error {
  border: 2px solid $coral;
}

.oval-text-box--disabled {
  border: none;
  background-color: $light-purple;
  .oval-text-box--input {
    background-color: $light-purple;
  }
}
</style>
