<template>
    <div class="footer">
        <span>
            Panoraven©. All rights reserved
        </span>
    </div>
</template>

<style lang="scss">
    .footer {
        background: url("footer-wave.svg") bottom no-repeat;
        background-size: 100%;
        width: 100%;
        height: 150px;
        position: relative;

        & span {
            position: absolute;
            left: 50%;
            top: 80%;
            transform: translate(-50%, -80%);
            color: $purple-dark;
        }
    }
</style>
