<template>
	<div class="justify-content-center mt-5 mb-5 col">
		<div class="col lazy-load-circle--wrapper">
			<img src="@/SVG/ellipsis-circle.svg" alt="" />
		</div>
	</div>
</template>

<style lang="scss">
	.lazy-load-circle--wrapper {
		display: flex;
		justify-content: center;
	}
</style>

