$white: #fff;
$light-blue: rgba(78, 89, 131, 0.5);
$blue: rgba(78, 89, 131, 1);
$primary: #5169DD;
$grey: #e9ebef;
$purple: #617BE5;
$purple-dark: #4E5983;
$light-green: #69d3c2;
$coral: #D47967;
$light-purple: #EAEDF2;
$purple-focused: #818AA5;
