<template>
    <div class="select" :style="{width: width, height: height}" @click="!active ? toogleSelect : null">
        <span class="select--placeholder">{{ placeholder }}</span>
        <img class="oval-text-box--icon" :src="$helpers.resolveSvgPath('arrow-down.svg')" alt="Search" />

        <div v-if="active" class="select--dropdown" :style="{width: width, top: height}">
            <div v-for="({id, text}, key) in items" :key="key" class="select--dropdown--item">
                {{ text }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
          return {
              active: false
          }
        },
        props: {
            placeholder: {
                type: String
            },
            width: {
                type: String,
                default: "100%"
            },
            height: {
                type: String,
                default: "36px"
            },
            items: {
                type: Array
            }
        },
        methods: {
            toogleSelect() {
                this.active = !this.active
            }
        }
    }
</script>

<style lang="scss">
    .select {
        border: 1px solid $grey;
        border-radius: 20px;
        font-size: 1rem;
        width: fit-content;
        display: flex;
        padding: 0 15px;
        justify-content: space-between;
        cursor: pointer;
        position: relative;

        .select--placeholder {
            color: $light-blue;
            display: flex;
            align-self: center;
        }

        .select--dropdown {
            position: absolute;
            z-index: 10000;
            left: 0;
            border: 1px solid $grey;
            border-radius: 15px;
            background-color: $white;
            padding: 15px 0;

            .select--dropdown--item {
                display: block;
                padding: 15px 15px;

                &:hover {
                    background-color: $light-blue;
                }
            }
        }
    }
</style>
