<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="@/assets/logo.png" alt />
      </div>
      <div class="col">
        <img src="@/assets/navbar.png" alt />
      </div>
    </div>
  </div>
</template>
