<template>
	<div
		class="raven-card--circle"
		:class="[{ 'raven-card--circle--bordered': bordered }, classes]"
	>
		<slot></slot>
	</div>
</template>

<script>
export default {
	props: {
		bordered: {
			type: Boolean,
			default: false,
		},
		classes: {
			type: String,
		},
	},
};
</script>

<style lang="scss">
.raven-card--circle {
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.3);
	width: 28px;
	height: 28px;
	align-items: center;
	justify-content: center;
	display: flex;
	cursor: pointer;
}

.raven-card--circle--bordered {
	border: 2px solid $light-green;
}
</style>
