<template>
  <div class="grid dashboard--raven-grid--align-center">
    <slot></slot>
  </div>
</template>

<script>
import { EventBus } from "../../EventBus";
import Muuri from "muuri";

export default {
  data() {
    return {
      grid: null
    };
  },
  props: {
    ravenData: {
      required: true,
      type: Array
    }
  },
  mounted() {
    this.grid = new Muuri(".grid", {
      items: ".dashboard--raven-card--container",
      dragEnabled: true,
      showDuration: 400,
      hideDuration: 400,
      dragSortInterval: 0,
      dragPlaceholder: {
        enabled: true,
        duration: 300,
        easing: "ease"
      },
      dragStartPredicate: {
        delay: 200
      },
      itemPlaceholderClass: "dashboard--raven-card--placeholder",
      itemDraggingClass: "dashboard--raven-card--draggable",
      dragSortHeuristics: {
        sortInterval: 0,
        minDragDistance: 5,
        minBounceBackAngle: Math.PI / 2
      },
      dragSortPredicate: { action: "move", threshold: 20 },
      layoutOnResize: true
    });

    this.grid.on("dragStart", item => {
      item._child.style.transition = "transform .2s";
      item._child.style.transform = "rotate(5deg)";
    });

    this.grid.on("dragEnd", item => {
      item._child.style.transition = "transform .2s";
      item._child.style.transform = "rotate(0deg)";
    });

    this.grid.on("layoutEnd", event => {
      const ravenOrder = [];
      event.forEach(card => {
        ravenOrder.push(+card._element.id.split("-")[1]);
      });
      this.sortRavens(ravenOrder, this.ravenData);
    });

    EventBus.$on("searchQuery", value => {
      this.grid.filter(
        item => {
          return item
            .getElement()
            .querySelector(".dashboard--raven-card--title")
            .innerHTML.toLowerCase()
            .includes(value.toLowerCase());
        },
        [true]
      );
    });

    EventBus.$on("lazyLoadAddCards", () => {
      const cardsArray = [];
      const cards = document.querySelectorAll(
        ".dashboard--raven-card--container"
      );
      for (let card of cards) {
        if (!card.classList.contains("muuri-item")) {
          card.style.display = "none";
          cardsArray.push(card);
        }
      }
      this.grid.add(cardsArray);
      this.grid.show();
    });
  },
  methods: {
    handleLayoutEnd(event) {
      const ravenOrder = [];
      event.forEach(card => {
        ravenOrder.push(+card._element.id.split("-")[1]);
      });
      this.sortRavens(ravenOrder, this.ravenData);
    },
    sortRavens(order, ravens) {
      const sortedRavens = [];
      order.forEach((orderId, index) => {
        sortedRavens[index] = {
          ...ravens[ravens.findIndex(raven => raven.id == orderId)]
        };
      });
      this.updateOrder(sortedRavens);
    },
    updateOrder(sortedRavens) {
      // Update order of ravens on backend
      console.log(sortedRavens);
    }
  }
};
</script>

<style lang="scss">
.grid {
  position: relative;
}

.dashboard--raven-card--placeholder {
  background: $light-blue;
  width: 220px;
  height: 135px;
  z-index: -1;
  border-radius: 10px;
}

.dashboard--raven-card--draggable {
  z-index: 10;
}

.dashboard--raven-grid--align-center {
  margin: 0 auto;
}
</style>
