<template>
  <div class="dashboard--raven-card--title">
    <slot></slot>
  </div>
</template>

<style lang="scss">
.dashboard--raven-card--title {
  position: absolute;
  bottom: 10px;
  left: 0.4rem;
  color: $white;
  width: 146px;
  align-self: baseline;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  word-break: break-word;
}
</style>
