<template>
  <div class="dashboard--raven-card--container" :id="`raven-${id}`">
    <div
      class="dashboard--raven-card--relative-wrapper"
      :style="{
				background: 'center url(' + backgroundImage + ')',
			}"
    >
      <raven-title>
        <span>{{ title }}</span>
      </raven-title>
      <raven-card-cirle :bordered="true" :classes="'raven-card--circle--add'">
        <img src="../../SVG/add.svg" alt />
      </raven-card-cirle>

      <raven-card-cirle :bordered="true" :classes="'raven-card--circle--delete'">
        <img src="../../SVG/delete.svg" alt />
      </raven-card-cirle>

      <raven-card-cirle :bordered="false" :classes="'raven-card--circle--number-of-images'">
        <span>{{ numberOfImages }}</span>
      </raven-card-cirle>

      <raven-card-cirle :bordered="true" :classes="'raven-card--circle--settings'">
        <img src="../../SVG/gear.svg" alt />
      </raven-card-cirle>
    </div>
  </div>
</template>

<script>
import RavenTitle from "./RavenTitle";
import RavenCardCirle from "./RavenCardCirle.vue";
export default {
  components: {
    RavenCardCirle,
    RavenTitle
  },
  props: {
    id: {
      required: true,
      type: Number
    },
    title: {
      required: true,
      type: String,
      default: ""
    },
    numberOfImages: {
      required: true,
      type: Number,
      default: 0
    },
    classes: {
      type: Array
    },
    backgroundImage: {
      type: String,
      required: false
    }
  }
};
</script>

<style lang="scss">
.dashboard--raven-card--container {
  position: absolute;
  height: 135px;
  width: 220px;
  display: block;
  margin: 10px;
  border-radius: 10px;
}

.dashboard--raven-card--relative-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.raven-card--circle--add {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
}

.raven-card--circle--delete {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
}

.raven-card--circle--number-of-images {
  position: absolute;
  right: 0.6rem;
  top: 50%;
  transform: translateY(-50%);
  color: $white;
}

.raven-card--circle--settings {
  position: absolute;
  bottom: 0.6rem;
  right: 0.6rem;
}
</style>
