<template>
  <div>
    <ul class="tabs">
      <li>My Ravens</li>
      <li>My collections</li>
      <li>My brand logo</li>
      <li>My loading logo</li>
    </ul>
  </div>
</template>

<style lang="scss">
.tabs {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  border-bottom: 1px solid $grey;
  & li {
    margin-right: 25px;
  }
}
</style>