<template>
  <div style="height: 100%">
    <v-select :options="selectItems" :placeholder="placeholder" />
  </div>
</template>

<script>
import "./scss/vue-select.scss";
export default {
  data() {
    return {
      selectItems: [
        {
          code: 0,
          label: "item 1"
        },
        {
          code: 1,
          label: "item 2"
        },
        {
          code: 2,
          label: "item 3"
        }
      ]
    };
  },
  props: {
    placeholder: {
      type: String,
      default: ""
    }
  }
};
</script>

<style lang="scss">
.vs__dropdown-toggle {
  height: 38px;
  position: relative;
}

.vs__selected-options {
  font-size: 14px;
  line-height: 17px;
}
</style>
