<template>
    <div class="dashboard--tabs">
        <dashboard-tabs-block v-for="({title, tabId, isActive}, key) in tabs"
                              :key="key"
                              :title="title"
                              :tab-id="tabId"
                              :is-active="isActive"
                              @tabClick="handleTabClick"
        />
    </div>
</template>

<script>
    import DashboardTabsBlock from "./DashboardTabsBlock";

    export default {
        data() {
            return {
                tabs: [
                    {
                        title: 'My Ravens',
                        tabId: 0,
                        isActive: true
                    },
                    {
                        title: 'My Collections',
                        tabId: 1,
                        isActive: false
                    },
                    {
                        title: 'My brand logo',
                        tabId: 2,
                        isActive: false
                    },
                    {
                        title: 'My loading logo',
                        tabId: 3,
                        isActive: false
                    },
                ]
            }
        },
        components: {
            DashboardTabsBlock
        },
        methods: {
            handleTabClick(value) {
                this.tabs.forEach(tab => tab.isActive = tab.tabId === value)
            }
        }
    }
</script>

<style lang="scss">
    .dashboard--tabs {
        display: flex;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        border-bottom: 1px solid #E9EBEF;

        .dashboard--tabs--block {
            align-self: center;
            height: 100%;
            color: $light-blue;
            width: 19%;

            &:not(:first-child) {
                text-align: center;
                width: 27%;
            }

            &:hover {
                border-bottom: 2px solid $primary;
                cursor: pointer;
                color: $blue;
                transition: .3s;
            }
        }
    }
</style>
