<template>
  <div
    class="dashboard--tabs--block"
    :class="{'dashboard--tabs--block--active': isActive}"
    @click="emitEvent"
  >
    <span>{{ title }}</span>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String
    },
    tabId: {
      type: Number
    },
    isActive: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    emitEvent() {
      this.$emit("tabClick", this.tabId);
    }
  }
};
</script>

<style lang="scss">
.dashboard--tabs--block {
  align-self: center;
  height: 100%;
  color: $light-blue;
  width: 19%;

  &:not(:first-child) {
    text-align: center;
    width: 27%;
  }

  &:hover {
    border-bottom: 2px solid $primary;
    cursor: pointer;
    color: $blue;
    transition: all 0.3s ease 0s;
  }
}

.dashboard--tabs--block--active {
  border-bottom: 2px solid $primary;
  cursor: pointer;
  color: $blue !important;
}
</style>
