<template>
  <div class="tab-wrap">
    <input type="radio" name="tabs" id="tab1" checked value="1" v-model.number="tab" />
    <div class="tab-label-content" id="tab1-content">
      <label for="tab1">My ravens</label>
    </div>

    <input type="radio" name="tabs" id="tab2" value="2" v-model.number="tab" />
    <div class="tab-label-content" id="tab2-content">
      <label for="tab2">My collections</label>
    </div>

    <input type="radio" name="tabs" id="tab3" value="3" v-model.number="tab" />
    <div class="tab-label-content" id="tab3-content">
      <label for="tab3">My brand logo</label>
    </div>

    <input type="radio" name="tabs" id="tab4" value="4" v-model.number="tab" />
    <div class="tab-label-content" id="tab4-content">
      <label for="tab4">My loading logo</label>
    </div>

    <div class="slide"></div>
  </div>
</template>

<script>
import { EventBus } from "../../EventBus.js";
export default {
  data() {
    return {
      tab: 1
    };
  },
  watch: {
    tab: {
      handler() {
        EventBus.$emit("tabChange", this.tab);
      }
    }
  }
};
</script>

<style lang="scss">
.tab-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  border-bottom: 1px solid $grey;
  font-size: 14px;
  line-height: 19px;
}

input[type="radio"][name="tabs"] {
  position: absolute;
  opacity: 0;

  &:checked {
    + .tab-label-content {
      label {
        color: $purple-dark;
        transform: translateY(-2px);
        transition: all 0.3s ease-out;
      }

      .tab-content {
        display: block;
      }
    }
  }
  &:not(:checked) {
    + .tab-label-content {
      label {
        transform: translateY(2px);
        transition: all 0.3s ease-out;
      }
    }
  }

  &:nth-of-type(1) {
    &:checked {
      ~ .slide {
        left: 0;
        width: 64px;
      }
    }
  }

  &:nth-of-type(2) {
    &:checked {
      ~ .slide {
        left: 22%;
        width: 89px;
      }
    }
  }

  &:nth-of-type(3) {
    &:checked {
      ~ .slide {
        left: 48%;
        width: 90px;
      }
    }
  }

  &:nth-of-type(4) {
    &:checked {
      ~ .slide {
        left: 74%;
        width: 100px;
      }
    }
  }
}

label {
  cursor: pointer;
  color: $light-blue;
  background-color: inherit;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: color 0.2s ease;
  width: fit-content;
}

.slide {
  background: $primary;
  height: 3px;
  position: absolute;
  left: 0;
  top: calc(100% - 2px);
  transition: left 0.3s ease-out;
}

.tab-label-content {
  width: 100%;
  cursor: pointer;
  align-self: center;
  margin-bottom: -5px;

  &:nth-of-type(1) {
    width: 23%;
  }

  &:nth-of-type(2) {
    width: 27%;
  }
  &:nth-of-type(3) {
    width: 27%;
  }
  &:nth-of-type(4) {
    width: 27%;
  }

  .tab-content {
    position: absolute;
    top: 100px;
    left: 16px;
    line-height: 130%;
    display: none;
  }
}
</style>
