<template>
    <div class="upload">
        <div class="upload--icon-wrapper">
            <img :src="$helpers.resolveSvgPath('upload-icon.svg')" alt="">
            <span class="mt-2">Upload a new raven</span>
        </div>
    </div>
</template>

<style lang="scss">
    .upload {
        width: 100%;
        height: 143px;
        border: 2px dashed #617BE5;
        border-radius: 10px;
        display: flex;
        justify-content: center;

        .upload--icon-wrapper {
            height: fit-content;
            align-self: center;
            display: flex;
            flex-direction: column;

            & span {
                color: $purple;
            }
        }
    }
</style>
