<template>
  <div id="app">
    <the-navbar />
    <user />
    <message />
    <the-dashboard />
    <the-footer />
  </div>
</template>

<script>
import { EventBus } from "./EventBus";
import ravenData from "./placeholders/RavenData";
// import RavenCard from "./components/RavenGrid/RavenCard";
import TheNavbar from "./components/TheNavbar/TheNavbar.vue";
import TheDashboard from "./components/TheDashboard/TheDashboard.vue";
import User from "./components/User/User.vue";
import TheFooter from "./components/TheFooter/TheFooter.vue";
import Message from "./components/Message/Message.vue";

export default {
  components: {
    TheDashboard,
    TheNavbar,
    User,
    Message,
    TheFooter
  },
  methods: {
    scroll() {
      window.onscroll = () => {
        let bottomOfWindow =
          document.documentElement.scrollTop + window.innerHeight ===
          document.documentElement.offsetHeight;

        if (bottomOfWindow) {
          const response = new Promise(resolve => {
            setTimeout(() => resolve(ravenData), 1000);
          });

          response.then(res => EventBus.$emit("lazyLoadData", res));
        }
      };
    }
  },
  mounted() {
    this.scroll();
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Nunito", sans-serif;
}

@media screen and (min-width: 1200px) {
  .container {
    /*min-width: 1230px;*/
    margin: 0 auto;
  }
}

.row {
  padding: 0 10px;
}
</style>
