<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="@/assets/message.png" class="message--pic" alt />
      </div>
    </div>
  </div>
</template>

<style>
.message--pic {
  width: 100%;
}
</style>
